In [1]:
import sys
import pandas as pd
import numpy as np
import sklearn
import matplotlib
import keras

print('Python: {}'.format(sys.version))
print('Pandas: {}'.format(pd.__version__))
print('Numpy: {}'.format(np.__version__))
print('Sklearn: {}'.format(sklearn.__version__))
print('Matplotlib: {}'.format(matplotlib.__version__))
print('Keras: {}'.format(keras.__version__))

Python: 3.10.11 (main, Apr  5 2023, 14:15:10) [GCC 9.4.0]
Pandas: 1.5.3
Numpy: 1.22.4
Sklearn: 1.2.2
Matplotlib: 3.7.1
Keras: 2.12.0

In [35]:
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [3]:
cleveland =pd.read_csv('processed cleveland.csv')
cleveland

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,264,0,0,132,0,1.2,2,0,7,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1
302,38,1,3,138,175,0,0,173,0,0.0,1,?,3,0

In [4]:
# print the shape of the DataFrame, so we can see how many examples we have
print( 'Shape of DataFrame: {}'.format(cleveland.shape))
print (cleveland.loc[1])

Shape of DataFrame: (303, 14)
age          67
sex           1
cp            4
trestbps    160
chol        286
fbs           0
restecg       2
thalach     108
exang         1
oldpeak     1.5
slope         2
ca            3
thal          3
target        2
Name: 1, dtype: object

In [5]:
# print the last twenty or so data points
cleveland.loc[280:]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
280,57,1,4,110,335,0,0,143,1,3.0,2,1,7,2
281,47,1,3,130,253,0,0,179,0,0.0,1,0,3,0
282,55,0,4,128,205,0,1,130,1,2.0,2,1,7,3
283,35,1,2,122,192,0,0,174,0,0.0,1,0,3,0
284,61,1,4,148,203,0,0,161,0,0.0,1,1,7,2
285,58,1,4,114,318,0,1,140,0,4.4,3,3,6,4
286,58,0,4,170,225,1,2,146,1,2.8,2,2,6,2
287,58,1,2,125,220,0,0,144,0,0.4,2,?,7,0
288,56,1,2,130,221,0,2,163,0,0.0,1,0,7,0
289,56,1,2,120,240,0,0,169,0,0.0,3,0,3,0
290,67,1,3,152,212,0,2,150,0,0.8,2,0,7,1
291,55,0,2,132,342,0,0,166,0,1.2,1,0,3,0
292,44,1,4,120,169,0,0,144,1,2.8,3,0,6,2
293,63,1,4,140,187,0,2,144,1,4.0,1,2,7,2
294,63,0,4,124,197,0,0,136,1,0.0,2,0,3,1
295,41,1,2,120,157,0,0,182,0,0.0,1,0,3,0
296,59,1,4,164,176,1,2,90,0,1.0,2,2,6,3
297,57,0,4,140,241,0,0,123,1,0.2,2,0,7,1
298,45,1,1,110,264,0,0,132,0,1.2,2,0,7,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1
302,38,1,3,138,175,0,0,173,0,0.0,1,?,3,0

In [6]:
# remove missing data (indicated with a "?")
data = cleveland[~cleveland.isin(['?'])]
data.loc[280:]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
280,57,1,4,110,335,0,0,143,1,3.0,2,1,7,2
281,47,1,3,130,253,0,0,179,0,0.0,1,0,3,0
282,55,0,4,128,205,0,1,130,1,2.0,2,1,7,3
283,35,1,2,122,192,0,0,174,0,0.0,1,0,3,0
284,61,1,4,148,203,0,0,161,0,0.0,1,1,7,2
285,58,1,4,114,318,0,1,140,0,4.4,3,3,6,4
286,58,0,4,170,225,1,2,146,1,2.8,2,2,6,2
287,58,1,2,125,220,0,0,144,0,0.4,2,NaN,7,0
288,56,1,2,130,221,0,2,163,0,0.0,1,0,7,0
289,56,1,2,120,240,0,0,169,0,0.0,3,0,3,0
290,67,1,3,152,212,0,2,150,0,0.8,2,0,7,1
291,55,0,2,132,342,0,0,166,0,1.2,1,0,3,0
292,44,1,4,120,169,0,0,144,1,2.8,3,0,6,2
293,63,1,4,140,187,0,2,144,1,4.0,1,2,7,2
294,63,0,4,124,197,0,0,136,1,0.0,2,0,3,1
295,41,1,2,120,157,0,0,182,0,0.0,1,0,3,0
296,59,1,4,164,176,1,2,90,0,1.0,2,2,6,3
297,57,0,4,140,241,0,0,123,1,0.2,2,0,7,1
298,45,1,1,110,264,0,0,132,0,1.2,2,0,7,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1
302,38,1,3,138,175,0,0,173,0,0.0,1,NaN,3,0

In [7]:
# drop rows with NaN values from DataFrame
data = data.dropna(axis=0)
data.loc[280:]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
280,57,1,4,110,335,0,0,143,1,3.0,2,1,7,2
281,47,1,3,130,253,0,0,179,0,0.0,1,0,3,0
282,55,0,4,128,205,0,1,130,1,2.0,2,1,7,3
283,35,1,2,122,192,0,0,174,0,0.0,1,0,3,0
284,61,1,4,148,203,0,0,161,0,0.0,1,1,7,2
285,58,1,4,114,318,0,1,140,0,4.4,3,3,6,4
286,58,0,4,170,225,1,2,146,1,2.8,2,2,6,2
288,56,1,2,130,221,0,2,163,0,0.0,1,0,7,0
289,56,1,2,120,240,0,0,169,0,0.0,3,0,3,0
290,67,1,3,152,212,0,2,150,0,0.8,2,0,7,1
291,55,0,2,132,342,0,0,166,0,1.2,1,0,3,0
292,44,1,4,120,169,0,0,144,1,2.8,3,0,6,2
293,63,1,4,140,187,0,2,144,1,4.0,1,2,7,2
294,63,0,4,124,197,0,0,136,1,0.0,2,0,3,1
295,41,1,2,120,157,0,0,182,0,0.0,1,0,3,0
296,59,1,4,164,176,1,2,90,0,1.0,2,2,6,3
297,57,0,4,140,241,0,0,123,1,0.2,2,0,7,1
298,45,1,1,110,264,0,0,132,0,1.2,2,0,7,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1

In [8]:
# print the shape and data type of the dataframe
print(data.shape)
print(data.dtypes)

(297, 14)
age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca           object
thal         object
target        int64
dtype: object

In [9]:
# transform data to numeric to enable further analysis
data = data.apply(pd.to_numeric)
data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [10]:
# print data characteristics, usings pandas built-in describe() function
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,0.676768,3.158249,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,1.055556,1.602694,0.676768,4.730640,0.946128
std,9.049736,0.468500,0.964859,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,1.166123,0.618187,0.938965,1.938629,1.234551
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,4.000000

In [50]:
x = data.drop(['target'], axis=1)
y = data['target']

In [51]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3

In [52]:
y.head()

0    0
1    2
2    1
3    0
4    0
Name: target, dtype: int64

In [53]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state =42)
x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size = 0.2, random_state =42)

In [54]:
print(x_train.shape)
print(y_train.shape)

print(x_test.shape)
print(y_test.shape)

(189, 13)
(189,)
(60, 13)
(60,)

In [55]:
dct=DecisionTreeClassifier()
dct.fit(x_train,y_train)

DecisionTreeClassifier()

In [56]:
y_pred=dct.predict(x_test)

In [57]:
accuracy_score(y_test,y_pred)

0.48333333333333334

Bagging(same model)

In [58]:
from sklearn.ensemble import BaggingClassifier

In [59]:
bag_class=BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=500,
    max_samples=100,
    bootstrap=True,
    n_jobs=-1
)

In [60]:
bag_class.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=100,
                  n_estimators=500, n_jobs=-1)

In [61]:
y_pred=dct.predict(x_test)

In [62]:
accuracy_score(y_test,y_pred)

0.48333333333333334

Bagging(with different model)

In [63]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import cross_val_score

In [64]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

In [65]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [66]:
estimator=[('lr',LogisticRegression())   ,    ('dt',DecisionTreeClassifier())]

voting_clf=VotingClassifier(estimators=estimator)

baging_2=BaggingClassifier(
    base_estimator=voting_clf,
    n_estimators=10
                  )

In [67]:
scores=cross_val_score(baging_2,x_train,y_train,cv=5)
scores

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

array([0.5625    , 0.60416667, 0.55319149, 0.4893617 , 0.57446809])

Random_forest

In [68]:
from sklearn.ensemble import RandomForestClassifier

In [69]:
clf=RandomForestClassifier(
    n_estimators=100,random_state=42
)
clf.fit(x_train,y_train)

RandomForestClassifier(random_state=42)

In [70]:
y_pred=dct.predict(x_test)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [71]:
accuracy_score(y_test,y_pred)

0.15

Ada-Boosting

In [72]:
from sklearn.ensemble import AdaBoostClassifier

In [73]:
ada_model= AdaBoostClassifier(
    base_estimator=DecisionTreeClassifier(max_depth=3),
    n_estimators=200,
    learning_rate=.5,
    random_state=42
)

In [74]:
ada_model.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3),
                   learning_rate=0.5, n_estimators=200, random_state=42)

In [75]:
y_pred=ada_model.predict(x_test)

In [76]:
accuracy_score(y_test,y_pred)

0.5333333333333333